Package            Version
------------------ ---------
certifi            2024.8.30
charset-normalizer 3.3.2    
DateTime           5.5      
idna               3.8      
importlib_metadata 8.4.0    
pip                24.2     
platformdirs       4.3.1    
pyTelegramBotAPI   4.22.1   
python-dotenv      1.0.1    
pytz               2024.2      
setuptools         74.1.2   
tomli              2.0.1        
zipp               3.20.1   
zope.interface     7.0.3